/* Geist, Geist Mono and Geist Pixel by Vercel, under the SIL Open Font License (fonts/LICENSE.txt).
   Geist Mono is the typeface of the Pixel Pizza demo. */
@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('./fonts/GeistMono-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Pixel';
  src: url('./fonts/GeistPixel-Square.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
